<div id='calendar' style="display : inline-block">

<div ng-repeat='days in $ctrl.weeks' ng-init="parentIndex = $index" style="display : inline-block">
  <span ng-repeat="indice in $ctrl.month track by $index" >

       <span ng-if="indice.indice == $parent.$index" style='font-size : 10px;'>
         {{indice.mois}}
       </span>

  </span>
  <span style='padding: 3.5px'></span>
</div>

</br>

  <div ng-repeat='days in $ctrl.weeks' ng-init="parentIndex = $index" style="display : inline-block">

      <div ng-repeat="day in days track by $index" style="">
        <svg width="11" height="11">
          <rect ng-if='day == 1' width="10" height="10" style="fill:{{$ctrl.low_color}};" />
          <rect ng-if="day >= 2" width="10" height="10" style="fill:{{$ctrl.medium_color}};" />
          <rect ng-if="day >= 4" width="10" height="10" style="fill:{{$ctrl.hight_color}};" />
          <rect ng-if='day == 0' width="10" height="10" style="fill:rgb(224, 224, 224);" />
        <!--
          <rect ng-if='day == 1' width="10" height="10" style="fill:rgb(204, 204, 255);" />
          <rect ng-if="day >= 2" width="10" height="10" style="fill:rgb(51, 51, 255);" />
          <rect ng-if="day >= 4" width="10" height="10" style="fill:rgb(0, 0, 153);" />
          <rect ng-if='day == 0' width="10" height="10" style="fill:rgb(224, 224, 224);" />
        -->
        <!--
          <rect ng-if='day == 1' width="10" height="10" style="fill:rgb(255, 204, 204);" />
          <rect ng-if="day >= 2" width="10" height="10" style="fill:rgb(255, 51, 51);" />
          <rect ng-if="day >= 4" width="10" height="10" style="fill:rgb(153, 0, 0);" />
          <rect ng-if='day == 0' width="10" height="10" style="fill:rgb(224, 224, 224);" />
        -->
        <!--
          <rect ng-if='day == 1' width="10" height="10" style="fill:rgb(204, 255, 204);" />
          <rect ng-if="day >= 2" width="10" height="10" style="fill:rgb(51, 255, 51);" />
          <rect ng-if="day >= 4" width="10" height="10" style="fill:rgb(0, 153, 0);" />
          <rect ng-if='day == 0' width="10" height="10" style="fill:rgb(224, 224, 224);" />
        -->

          <!--<rect ng-if='day === null' width="10" height="10" style="fill:red;" /> -->
        </svg>
      </div>
  </div>
</div>
